<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424802636520-ri5jr65rgfnd8uvt4cbdniqkhk3q9m58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424802636520-ri5jr65rgfnd8uvt4cbdniqkhk3q9m58</string>
	<key>API_KEY</key>
	<string>AIzaSyDdH_d1zpQMuCrXINvUGqke4OmtOIahm5E</string>
	<key>GCM_SENDER_ID</key>
	<string>424802636520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.yiming.chat.Chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b2b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b2b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424802636520:ios:9b4c9638011b921445ef5d</string>
</dict>
</plist>