<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nail-App-Lite.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3.4.2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
				<key>dateExpires</key>
				<string>2021/10/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.18</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.18</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.18</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E216D688DB2EC44252E65168DED57BB2DE8B107</string>
						<key>dateExpires</key>
						<string>2021/10/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3EKX6497L3</string>
						<key>name</key>
						<string>CASIO COMPUTER CO., LTD. (ENT)</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3EKX6497L3.jp.co.casio.Nail-App-Lite-ENT</string>
				<key>com.apple.developer.networking.multicast</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3EKX6497L3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Nail-App-Lite.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8f98772-cbe3-4773-8f83-0779b139b565</string>
				<key>dateExpires</key>
				<string>2021/10/22</string>
				<key>name</key>
				<string>Nail App Lite ENT</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3EKX6497L3</string>
				<key>name</key>
				<string>CASIO COMPUTER CO., LTD. (ENT)</string>
			</dict>
			<key>versionNumber</key>
			<string>3.4.2</string>
		</dict>
	</array>
</dict>
</plist>
